.login-page {
    padding-top: 80px;
    color: rgb(50, 50, 50);
}

.login-header {
    display: block;
    font-size: 2rem;
    padding-bottom: 10px;
}

.not-a-member {
    display: block;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
    margin-top: 15px;
    font-style: italic;
}

.register-label {
    text-decoration: underline;
    cursor: pointer;
}

.divider {
    background-color: #39c7ff;
    border: 0px !important;
    height: 2px !important;
}

@media (min-width:320px) {
    .login-container {
        margin: 0 auto;
        padding: 20px;
        display: block;
        border-radius: 30px;
        width: 95%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #8ae5ff;
    }
}

@media (min-width:641px) {
    .login-container {
        margin: 0 auto;
        padding: 20px;
        display: block;
        border-radius: 30px;
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #8ae5ff;
    }
}